<div  class="product-list-wrapper">
  <div class="form-container">
  <h2>Add Product</h2>
  <form  [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="productName">Product Name:</label>
      <input id="productName" type="text" formControlName="productName" />
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input id="price" type="number" formControlName="price" />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" rows="3" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <input id="category" type="text" formControlName="category" />
    </div>

<div class="button-group">
        <button type="submit">Add New</button> <!-- ✅ FIXED -->
  <button  type="button" (click)="clearForm()">Clear</button>
</div>

  </form>
</div>
</div>


